
a:link {
    text-decoration: none;
    color: #AFAFAF;
}

a:visited {
    text-decoration: none;
    color: #AFAFAF;
}

a:hover {
     color: #ffffff;
     text-decoration: none;
}

a:active {
    color: #AFAFAF;
    text-decoration: none;
}